h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

@import 'variable.scss';

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 1000px;
  padding: 115px 132px;
  gap: 18px;
  background-color: #141b1c;
}

.price-card {
  position: relative;
  overflow: hidden;
  width: 380px;
  height: 770px;
  background-color: #334247;
  padding-top: 32px;
  padding-bottom: 40px;
}

.price-card__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
}

.price-card__subtitle {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 31px;
  text-align: center;
}

.price-card__price {
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: 700;
}

.green {
  background-color: $color_green;
}

.blue {
  background-color: $color_blue;
}

.orange {
  background-color: $color_orange;
}

.price-card__discription {
  height: 36px;
  margin-right: 26px;
  margin-left: 26px;
  margin-bottom: 40px;
  text-align: center;
}

.price-card__discription,
.price-card__options {
  font-size: 15px;
  font-weight: 300;
}

.price-card__options-list {
  width: 380px;
  height: 300px;
}

.price-card__options {
  height: 50px;
  line-height: 50px;
}

.price-card__options img {
  width: 13px;
  height: 15px;
  margin: 0 22px;
}

.selected {
  background-color: #2a3438;
}

.price-card__button {
  display: block;
  width: 156px;
  height: 40px;
  margin: 39px auto 0 auto;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.price-card__badge {
  position: absolute;
  right: -30px;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 123px;
}

.price-card__badge span {
  transform: rotate(45deg);
  text-align: center;
  line-height: 25px;
  width: 147px;
  height: 25px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #dc3f45;
}
